<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <title>CONSULTER PROMOTION</title>
    </head>
    {% include 'header.html.twig' %}
    {% include 'footer.html.twig' %}
    <div class="d-flex justify-content-center align-items-center">
        <h5>BIENVENUE DANS LA {{ pPromotion.libelle| upper}}</h5>
    </div>
    <p>
 <div class="container">
    <div class="d-flex align-items-center">
	</div>
	</br>
  <table class="table">
    <li>
        Liste des élèves appartenant à cette promotion
    </li></br>
    <tr>
            <td><b>Nom</b></td>
            <td><b>Prénom</b></td>
        </tr>
	{% for e in pPromotion.etudiants %}
	<tr>
			<td><a href="{{ path('etudiantConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
			<td>{{ e.prenom }}</a></td>
			</tr>
	   {% endfor %}
 
 </table	 
    </body>
</html>