<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="generator" content="Hugo 0.104.2">
        <title>Footers</title>

    </head>
    <footer class="text-center text-white fixed-bottom" style="background-color: #0d6efd;">

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #E8F5F5;" >
          <div class="texte">© 2024 Copyright: Webstudent</div>
        </div>
        <!-- Copyright -->
    </footer>

</html>

<style>
    .texte{
    color: #000000;
    }
</style>

